.index-page{
    font-size: 14pt;
}

.intro{
    font-size: 19pt;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

ul hr{
    border: 0.1rem solid red;
    width: 30%;
}

.col-img {
    height: 25rem;
    width: 40rem;
}


@media (max-width: 380px) {
    
    .col-img {
        height: 16rem;
        width: 20rem;
    }
    .index-page{
        font-size: 12pt;
    }

    .intro{
        font-size: 14pt;
        font-weight: bold;
    }
}