<div class="header-row-wrapper">
    <div class="uc-row                         header-row  

                            " data-id="42" style="  margin-bottom:0vh;   background:#FFFFFF; ">
<div class="row-container  container ">
                    <div class="row headerRow" style="">
    
                                        <div class="column col-xs-3 " datacolumn-id="119" style="  padding:22px 0px;     ">
<div class="column-container vertical-top" style=" margin-top:0px; ">
        
            <div class="module-container   only-mobile   align-center ModuleNavigation
     first   last " style=" padding-right:40px;padding-left:40px;;  ">
                    <div class="  module ModuleNavigation " datamodule-id="85">
    <input type="hidden" class="standard-navigation">
<style>
#navigation-85        > .standard-view > .navigation > .page > .page-children {
background: #f1f1f1;
}

#navigation-85      > .standard-view > .navigation > .page > .page-children > .page > ul {
background: #f1f1f1;
}


#navigation-85      > .standard-view > .navigation > .page > .page-children {
border-radius: 0px;
}

#navigation-85      > .standard-view > .navigation > .page > .page-children > .page > ul {
border-radius: 0px;
}


#navigation-85 .navigation > li.has-childes.page > ul a{
padding: 0 15px;
}
#navigation-85     > div > ul li:hover > ul {
display: block;
}

#navigation-85 .page a {
color: #000000;
font-size: 18px;
font-weight: 400;
letter-spacing: 0px;
text-transform: none;
}

#navigation-85     > div > ul > li.page:not(:last-child) {
 margin-right: 20px;
}

#navigation-85     > div > ul > li:first-child:nth-last-child(1) {
}

#navigation-85 li.page > a:hover,
#navigation-85 li.page > ul.page-children > li.page a:hover,
#navigation-85 li.page > ul.page-children > li.page > ul.page-children > li.page a:hover {
color: rgb(59, 58, 58)     !important;
}

#navigation-85 li.page > ul.page-children  li.page  a {
color: #353535;
}


#navigation-85 li.page.active > a,
#navigation-85 li.page > ul.page-children > li.page.active > a,
#navigation-85 li.page > ul.page-children > li.page > ul.page-children > li.page.active > a {
color: #000000;
}

#navigation-85 li.page.active > a:hover,
#navigation-85 li.page > ul.page-children > li.page.active > a:hover,
#navigation-85 li.page > ul.page-children > li.page > ul.page-children > li.page.active > a:hover {
color: rgb(255, 255, 255) !important;
}

#navigation-85 li.page > ul.page-children:before,
#navigation-85 li.page > ul.page-children > li.has-childes > .page-children.pagesArrows > li:first-child:before {
color: #f1f1f1;
}

#navigation-85 li.page > ul.page-children > li.page > a {
    color: #353535;
           font-size: 12px;




}


#navigation-85 li.page > ul.page-children > li.page > a {
font-weight: 400;
}


#navigation-85 li.page ul.page-children .page {
padding-top: 10px;
padding-bottom: 10px;
}

#navigation-85 li.page ul.page-children .page:last-child {
padding-bottom: 10px;
}

#navigation-85 li.has-childes.page > a > .uci-dropdown-arrow-down {
font-size: 10px;
}

#navigation-85 li.has-childes.page > .page-children.pagesArrows > .has-childes > a > .uci-dropdown-arrow-down {
font-size: 7px;
}

#navigation-85 li.has-childes.page > .page-children li > a,
#navigation-85 li.has-childes.page > .page-children li {
text-align: center;
}


</style>
<div id="navigation-85" data-nav-sub-page-scollapsible="0" class="navigation-inner  horizontal standard" data-stretch-labels="0">

<div class="off-canvas-button icon" data-selector="off-canvas-85" style="width:25px;height:25px;color:#FFFFFF;fill:#FFFFFF;">
<svg viewBox="0 0 100.00000762939453 75.000244140625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="scale(1.2716659928598795)"><g><g><path clip-rule="evenodd" d="M81.602,44.102h-66.84c-3.256,0-5.898,2.64-5.898,5.898    s2.642,5.898,5.898,5.898h66.84c3.256,0,5.898-2.64,5.898-5.898S84.858,44.102,81.602,44.102z M81.602,67.693h-66.84    c-3.256,0-5.898,2.64-5.898,5.898c0,3.258,2.642,5.898,5.898,5.898h66.84c3.256,0,5.898-2.64,5.898-5.898    C87.5,70.333,84.858,67.693,81.602,67.693z M14.763,32.307h66.84c3.256,0,5.898-2.64,5.898-5.898c0-3.258-2.642-5.898-5.898-5.898    h-66.84c-3.256,0-5.898,2.64-5.898,5.898C8.865,29.667,11.507,32.307,14.763,32.307z" transform="translate(-8.864001274108887,-20.511001586914062)"></path></g></g></g></svg>
</div>

<div class="standard-view ">
<ul class="navigation" style="font-family: 'Montserrat';">
                                                                                                                                                                                                                            <li class=" page   show" data-anchor="r45">
<a class="nav-item" href="https://www.isapkf.ru#r45" data-page-type="pageAnchor">
    <span class="title">
О нас
</span>
</a>
</li>
                                                                                                        <li class=" page   show" data-anchor="r46">
<a class="nav-item" href="https://www.isapkf.ru#r46" data-page-type="pageAnchor">
    <span class="title">
Услуги
</span>
</a>
</li>
                                                                                                        <li class=" page   show" data-anchor="">
<a class="nav-item" href="https://www.isapkf.ru/new-page" data-page-type="pageBlank">
    <span class="title">
Каталог продукции
</span>
</a>
</li>
                                                                                                        <li class=" page   show" data-anchor="r62">
<a class="nav-item" href="https://www.isapkf.ru#r62" data-page-type="pageAnchor">
    <span class="title">
Технические решения 
</span>
</a>
</li>
                                                                                                        <li class=" page   show" data-anchor="r69">
<a class="nav-item" href="https://www.isapkf.ru#r69" data-page-type="pageAnchor">
    <span class="title">
Стандартизация и сертификация
</span>
</a>
</li>
                                                                                                        <li class=" page   show" data-anchor="r50">
<a class="nav-item" href="https://www.isapkf.ru#r50" data-page-type="pageAnchor">
    <span class="title">
Контакты
</span>
</a>
</li>
                                                    </ul>
</div>
</div>
</div>
</div>
            </div>
</div>
                                        <div class="column col-xs-9 " datacolumn-id="68" style="  padding:22px 0px;     ">
<div class="column-container " style="">
        
            <div class="module-container  align-center ModuleTitle
     first  ">
                    <div class="  module ModuleTitle " datamodule-id="183">
    <div class="uc-content">
<h3><span class="font-7em">Производственно-коммерческая фирма</span></h3>
</div>                    </div>
</div>

            <div class="module-container   only-mobile   align-center ModuleLogo
      last " style=" padding-right:40px;padding-left:40px;;  ">
                    <div class="  module ModuleLogo " datamodule-id="86" style="display:block;max-width:260px;">
    <a href="https://www.isapkf.ru">
<div class="" style="">
<img data-logo-element="" class="lazy initial loaded" data-src="https://cdn.bizml.site/fs/userFiles/1641759/images/logo.png?v=1558457738" alt="ООО &quot;ПКФ ИСА&quot;" src="https://cdn.bizml.site/fs/userFiles/1641759/images/logo.png?v=1558457738" data-was-processed="true">
</div>
</a>
</div>
</div>
            </div>
</div>
                                                    </div>
</div>




<div class="margin-container" data-type="row" style="bottom:-0vh;">
<div class="margin-controller"></div>
</div>
        </div>
</div>