.check_hover{

}

.check_hover:hover,
.check_hover:active{
    background-color: white;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }