
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }


  .left-slider {
  height: 100%;
  -webkit-box-shadow: 0 2px 8px black;
          box-shadow: 0 2px 8px black;
}

.left-slider ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list-group li{
  cursor: pointer;
}


